# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Virtual environments
venv/
env/
ENV/
.venv/
.python-version

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Migrations (opcional, se quiser ignorar até serem versionadas)
**/migrations/*.py
!**/migrations/__init__.py

# Env variables
.env
.env.*

# Coverage reports
htmlcov/
.coverage
.tox/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Test output
junit-*.xml

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Docker
*.pid
*.seed
*.pid.lock

# Celery
celerybeat-schedule
celerybeat.pid
