{% load static %} 
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> HD - Ciclo Conecta</title>
    <link rel="stylesheet" href="{% static 'css/padrao.css' %}">
</head>
<body>
  <header id="cabecalho">
  <div class="header-inner">
    <div class="logo-titulo">
      <img src="../img/logo.png" alt="Logo Ciclo Conecta" class="logo" link="main.html">
      <hgroup class="titulos">
        <h1>Ciclo Conecta</h1>
        <h2>Uma nova maneira de desapegar</h2>
      </hgroup>
    </div>

    <div class="nav-search-wrapper">
      <nav id="menu">
        <ul>
          <li><a href="perifericos.html">Periféricos</a></li>
          <li><a href="HD.html">HD</a></li>
          <li><a href="gabinete.html">Gabinete</a></li>
          <li><a href="memoria.html">Memória RAM</a></li>
          <li><a href="fale-conosco.html">Sobre Nós</a></li>
        </ul>
      </nav>

      <div class="search-bar">
        <input type="text" placeholder="Pesquisar..." id="searchInput">
        <button onclick="pesquisar()">Buscar</button>
      </div>
    </div>
  </div>
</header>
  <main>
    <h2>HD </h2>
    <p>Dê um up no seu armazenamento  </p>
    <section class="lista-produtos">
      <div class="produto-item">
        <img src="../img/HD.png" alt="Memória RAM 2">
        <div class="info-produto">
          <h3>HD 500 GB </h3>
          <p class="preco">R$ 100,00</p>
          <p class="localizacao">Natal - RN</p>
          <button>Ver mais</button>
        </div>
      </div>

      <div class="produto-item">
        <img src="../img/hd1.png" alt="Memória RAM 3">
        <div class="info-produto">
          <h3>HD kingston 2 TB</h3>
          <p class="preco">R$ 400,00</p>
          <p class="localizacao">Parnamirim - RN</p>
          <button>Ver mais</button>
        </div>
      </div>

      <div class="produto-item">
        <img src="../img/HD2.jpeg" alt="Memória RAM 4">
        <div class="info-produto">
          <h3>HD 500GB</h3>
          <p class="preco">R$ 350,00</p>
          <p class="localizacao">Natal - RN</p>
          <button>Ver mais</button>
        </div>
      </div>

      <div class="produto-item">
        <img src="../img/HD4.png" alt="Memória RAM 4 (Versão 2)">
        <div class="info-produto">
          <h3>HD 4 TB</h3>
          <p class="preco">R$ 900</p>
          <p class="localizacao">São josé de mipibu - RN</p>
          <button>Ver mais</button>
        </div>
      </div>
    </section>
  </main>
  <script>
    function pesquisar() {
      const termo = document.getElementById("searchInput").value;
      alert("Você pesquisou por: " + termo);
    }
  </script>
</body>
</html>