<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre Nós - Ciclo Conecta</title>
  <link rel="stylesheet" href="../css/perfil.css">
</head>
<body>
  <header id="cabecalho">
    <div class="header-inner">
      <img src="../img/logo.png" alt="Logo Ciclo Conecta" class="logo">
      <hgroup class="titulos">
        <h1>Ciclo Conecta</h1>
        <h2>Uma nova maneira de desapegar</h2>
      </hgroup>
      
      <h2> Meu perfil</h2>
    </div>
    
  </header>
  
</body>
</html>
