<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre Nós - Ciclo Conecta</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/perfil.css">
</head>
<body>
  <header id="cabecalho">
    <div class="header-inner">
      <img src="../img/logo.png" alt="Logo Ciclo Conecta" class="logo">
      <hgroup class="titulos">
        <h1>Ciclo Conecta</h1>
        <h2>Uma nova maneira de desapegar</h2>
      </hgroup>
      
    </div>
    
    <main class="principal">
  <section class="formulario-anuncio">
    <h2>Cadastre seu Anúncio</h2>
    <form action="#" method="POST" enctype="multipart/form-data">
      <label for="titulo">Título do Anúncio:</label>
      <input type="text" id="titulo" name="titulo" required>

      <label for="descricao">Descrição do Produto:</label>
      <textarea id="descricao" name="descricao" rows="5" required></textarea>

      <label for="valor">Valor do Produto (R$):</label>
      <input type="number" id="valor" name="valor" step="0.01" required>

      <label for="localizacao">Endereço Completo:</label>
      <input type="text" id="localizacao" name="localizacao" placeholder="Rua, número, bairro, cidade, estado" required>

      <label for="imagem">Upload de Imagem (formatos aceitos: JPG, PNG):</label>
      <input type="file" id="imagem" name="imagem" accept="image/png, image/jpeg" multiple required>

      <button type="submit">Publicar Anúncio</button>
    </form>
  </section>
  </header>
  </body>
</html>
