<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ciclo Conecta</title>
  <link rel="stylesheet" type="text/css" href="../css/formulario.css"/>
</head>
<body>
  <header class="header">
  <div class="cabecalho1">
    <div class="logo-titulo">
      <a href="main.html" class="logo-link">
        <img src="../img/logo.png" alt="Logo Ciclo Conecta">
        <h1 class="titulo">
          <span class="azul">Ciclo</span> <strong>Conecta</strong>
        </h1>
      </a>
    </div> <!-- fecha logo-titulo -->
  </div> <!-- fecha cabecalho1 -->
</header>

  <main>
    <div class="form-container">
      <h1>Cadastre-se</h1>
      <form id="cadastroForm">
        <label>Tipo de Pessoa:</label>
        <label><input type="radio" name="tipo" value="fisica" checked> Pessoa Física</label>
        <label><input type="radio" name="tipo" value="juridica"> Pessoa Jurídica</label>

        <label for="nome">Nome Completo / Razão Social:</label>
        <input type="text" id="nome" name="nome" required>

        <label for="cpfcnpj">CPF ou CNPJ:</label>
        <input type="text" id="cpfcnpj" name="cpfcnpj" required>

        <label for="nascimento">Data de Nascimento / Fundação:</label>
        <input type="date" id="nascimento" name="nascimento" required>

        <label for="rua">Rua:</label>
        <input type="text" id="rua" name="rua" required>

        <label for="cidade">Cidade (RN):</label>
        <select id="cidade" name="cidade" required>
          <option value="">Selecione</option>
          <option>Natal</option>
          <option>Mossoró</option>
          <option>Parnamirim</option>
          <option>Ceará-Mirim</option>
          <option>São Gonçalo do Amarante</option>
          <option>Caicó</option>
          <option>Currais Novos</option>
          <option>Assu</option>
          <option>Santa Cruz</option>
          <option>Macau</option>
        </select>

        <label for="telefone">WhatsApp:</label>
        <input type="tel" id="telefone" name="telefone" required>

        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required>

        <label for="senha">Criar Senha:</label>
        <input type="password" id="senha" name="senha" required>

        <button type="submit">Cadastrar</button>
      </form>
    </div>
  </main>


  <script src="formulario.js"></script>
</body>
</html>
